<div class="jumbotron">
<div class="input-group input-group-sm mb-3 ">
    <p class="lead">Arama</p>
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"></span>
    </div>
    <input type="text" class="form-control" placeholder="arama..." aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    <br /> <br />

    <div class="list-group">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-sm " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Şehir
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div><br />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-sm " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                İlçe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div><br />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-sm " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Mahalle
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div><br />
    </div>
    <button type="button" class="btn btn-primary pull-right"> Ara
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
    </div>
