@using Emlak_Yorumlari_WebApp.ViewModels
@model HomePageViewModel

<script>

    $(function () {

        $('#city_ddl').change(function () {

            var id = $('#city_ddl').val();
            if ($('#city_ddl').val() == 0) {
                $("#district_ddl").prop("disabled", true);
                $("#quarter_ddl").prop("disabled", true);
            } else {
                $("#district_ddl").prop("disabled", false);
                $("#quarter_ddl").prop("disabled", false);
            }
            $.ajax({

                url: '/Place/SetDropResult',

                data: { p: id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    data = jQuery.parseJSON(data);
                    console.log(data);

                    $('#district_ddl').empty();
                    $('#district_ddl').append("<option value='" + "0" + "'>" + "ilçe Seçiniz" + "</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#district_ddl').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");

                    }

                }

            });

        });

    });

    $(function () {

        $('#district_ddl').change(function () {

            var id = $('#district_ddl').val();
            if ($('#district_ddl').val() == 0) {
                $("#quarter_ddl").prop("disabled", true);
            } else {
                $("#quarter_ddl").prop("disabled", false);
            }

            $.ajax({

                url: '/Place/SetDropResult',

                data: { p: id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    data = jQuery.parseJSON(data);
                    console.log(data);

                    $('#quarter_ddl').empty();
                    $('#quarter_ddl').append("<option value='" + "0" + "'>" + "Mahalle Seçiniz" + "</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#quarter_ddl').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");

                    }

                }

            });

        });

    });
</script>
<div class="well">
    <div class="input-group input-group-sm mb-3">
        @using (Html.BeginForm())
        {


            <p class="lead">Arama</p>
            <div class="input-group-prepend form-group">
                <span class="input-group-text" id="inputGroup-sizing-sm"></span>
            </div>
            @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control", placeholder = "Arama..." })
            <br/>
            <br/>

            <div class="form-group">
                <div class="dropdown">
                    @Html.DropDownListFor(x => x.city_ddl, Model.CityData, "Şehir Seçiniz", new { @class = "form-control dropdown"})
                </div><br/><br/>
                <div class="dropdown">
                    @Html.DropDownListFor(m => m.district_ddl, Model.DistrictData, "İlçe Seçiniz", new { @class = "form-control dropdown" })
                </div><br/><br/>
                <div class="dropdown">
                    @Html.DropDownListFor(m => m.quarter_ddl, Model.QuarterData, "Mahalle Seçiniz", new { @class = "form-control dropdown" })
                </div><br/><br/>
            </div>
            <button type="submit" class="btn btn-primary pull-right"> Ara
                <span class="glyphicon glyphicon-search"></span>
            </button>
        }
    </div>
    </div>
