<div>
    <h4 class="text-danger">Yorumlar</h4>
    <hr class="alert-danger">

    <div class="row">

        <div class="col-md-12">

            <p>Cemal Balaban</p>
            <p>Güven Puanı: 4.5 - Aktivite Puanı: 5.0 - Yönetim Memnuniyeti: 3.7 </p>

            <p>
                Site içinde Aktiviteler çok başarılı, güvenlik çok iyi fakat yönetim geliştirilmesi gerekli fakat yeterince iyi
                bir site
            </p>
            <hr class="alert-danger" />

        </div>
    </div>

    <hr class="alert-danger">

    <div class="row">

        <div class="col-md-12">

            <p>Cemal Balaban</p>
            <p>Güven Puanı: 4.5 - Aktivite Puanı: 5.0 - Yönetim Memnuniyeti: 3.7 </p>

            <p>
                Site içinde Aktiviteler çok başarılı, güvenlik çok iyi fakat yönetim geliştirilmesi gerekli fakat yeterince iyi
                bir site
            </p>
            <hr class="alert-danger" />

        </div>
    </div>

</div>
