@using Emlak_Yorumlari_WebApp.ViewModels
@model AdminCommentViewModel
@{
    ViewBag.Title = "ShowBannedComment";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<link href="~/Content/shop-homepage.css" rel="stylesheet" />
<link href="~/Content/shop-item.css" rel="stylesheet" />

<div class="container">

    <div class="row">
        @*ara*@


        <div class="col-md-12">


            @*İçerikler*@
            <div class="row">
                @if (Model.ClassList.Count == 0)
                {
                    <div class="col-md-9 alert-warning">

                        <span class="label">
                            <h2 class="text-primary">
                                ZARARLI YORUM BULUNAMADI
                            </h2>
                        </span>
                        <br />



                    </div>
                }
                else
                {
                    <div class="col-md-12 alert-warning">

                        <span class="label">
                            <h2 class="text-primary">
                                EMLAK YORUMLARI ZARARLI YORUMLAR
                            </h2>
                        </span>
                        <br />
                        <span class="login-button">
                            @Html.ActionLink("ZARARLI YORUMLARI GÖSTER", "ShowComment", "AdminComment", new { @class = "btn btn-warning" })

                            @Html.ActionLink("ARGO İÇERİKLİ YORUMLARI GÖSTER", "ShowBannedComment", "AdminComment", new { @class = "btn btn-warning" })

                        </span>
                        <br />

                    </div>

                }


                @foreach (var data in Model.ClassList)
                {
                    if (data.toxicComment.toxic_type == 2)
                    {
                        <br />
                        <div class="col-md-12 alert-success">

                            <div class="col-md-5 alert-success">
                                <h4>

                                    <p class="text-warning">
                                        &nbsp;&nbsp;@data.user.username
                                    </p>
                                    <p class="text-warning">
                                        &nbsp;&nbsp;@data.place.placeName
                                    </p>
                                    @if (!data.user.IsActive)
                                    {
                                        <p class="text-warning">
                                            &nbsp;&nbsp;PASİF KULLANICI !
                                        </p>
                                    }



                                    <br />
                                    <h5 class="text-primary">

                                        <p>

                                            &nbsp;&nbsp;Zararlı Yorum: @data.toxicComment.text

                                        </p>

                                    </h5>


                                </h4>
                            </div>
                            <div class="col-md-12 alert-success">
                                <p>
                                    &nbsp;@Html.ActionLink("KULLANICIYI PASİF YAP", "UserDeactivate", "AdminUser", new { id = data.user.user_id }, new { @class = "btn btn-danger" })

                                </p>
                            </div>

                        </div>
                        <div class="col-md-12 alert-warning ">
                            <hr />
                        </div>
                    }
                }







            </div>
        </div>
    </div>
</div>
