
@{
    ViewBag.Title = "Index";
}

<!-- Page Content -->
<div class="container">

    <div class="row">
        @*ara*@
        <div class="col-md-3">
           @Html.Partial("_PartialSearch")
        </div>

        <div class="col-md-9">

            
            @*İçerikler*@
            <div class="row">

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://via.placeholder.com/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">SİTE ADI</a>
                            </h4>
                            <h6 class="text-right">
                                yayın_tarihi <span class="glyphicon glyphicon-time"></span>
                            </h6>
                            <p>SİTE AÇIKLAMALARI: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
                        </div>
                        <div><hr /></div>
                        <div class="ratings">

                            <p class="pull-right"><button class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-triangle-right"></span> Detay </button></p>
                            <p>
                                <h4><span class="label label-warning">PUAN:5.0</span></h4> @*<span class="glyphicon glyphicon-star"></span>*@
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://via.placeholder.com/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">SİTE ADI</a>
                            </h4>
                            <h6 class="text-right">
                                yayın_tarihi <span class="glyphicon glyphicon-time"></span>
                            </h6>
                            <p>SİTE AÇIKLAMALARI: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
                        </div>
                        <div><hr /></div>
                        <div class="ratings">

                            <p class="pull-right"><button class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-triangle-right"></span> Detay </button></p>
                            <p>
                                <h4><span class="label label-warning">PUAN:5.0</span></h4> @*<span class="glyphicon glyphicon-star"></span>*@
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://via.placeholder.com/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">SİTE ADI</a>
                            </h4>
                            <h6 class="text-right">
                                yayın_tarihi <span class="glyphicon glyphicon-time"></span>
                            </h6>
                            <p>SİTE AÇIKLAMALARI: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
                        </div>
                        <div><hr /></div>
                        <div class="ratings">

                            <p class="pull-right"><button class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-triangle-right"></span> Detay </button></p>
                            <p>
                                <h4><span class="label label-warning">PUAN:5.0</span></h4> @*<span class="glyphicon glyphicon-star"></span>*@
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://via.placeholder.com/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">SİTE ADI</a>
                            </h4>
                            <h6 class="text-right">
                                yayın_tarihi <span class="glyphicon glyphicon-time"></span>
                            </h6>
                            <p>SİTE AÇIKLAMALARI: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
                        </div>
                        <div><hr /></div>
                        <div class="ratings">

                            <p class="pull-right"><button class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-triangle-right"></span> Detay </button></p>
                            <p>
                                <h4><span class="label label-warning">PUAN:5.0</span></h4> @*<span class="glyphicon glyphicon-star"></span>*@
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://via.placeholder.com/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">SİTE ADI</a>
                            </h4>
                            <h6 class="text-right">
                                yayın_tarihi <span class="glyphicon glyphicon-time"></span>
                            </h6>
                            <p>SİTE AÇIKLAMALARI: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
                        </div>
                        <div><hr /></div>
                        <div class="ratings">

                            <p class="pull-right"><button class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-triangle-right"></span> Detay </button></p>
                            <p>
                                <h4><span class="label label-warning">PUAN:5.0</span></h4> @*<span class="glyphicon glyphicon-star"></span>*@
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://via.placeholder.com/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">SİTE ADI</a>
                            </h4>
                            <h6 class="text-right">
                                yayın_tarihi <span class="glyphicon glyphicon-time"></span>
                            </h6>
                            <p>SİTE AÇIKLAMALARI: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the...</p>
                        </div>
                        <div><hr /></div>
                        <div class="ratings">

                            <p class="pull-right"><button class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-triangle-right"></span> Detay </button></p>
                            <p>
                                <h4><span class="label label-warning">PUAN:5.0</span></h4> @*<span class="glyphicon glyphicon-star"></span>*@
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

