
@{
    ViewBag.Title = "StatisticsPage";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<link href="~/Content/shop-homepage.css" rel="stylesheet" />

<h2>StatisticsPage</h2><br />
<h1>İSTATİSTİKLER BURAYA EKLENECEK</h1>

