@using Emlak_Yorumlari_WebApp.ViewModels
@model LoginViewModel
@{

    ViewBag.Title = "Log in sayfası";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/login-register.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style type="text/css">
        .validation-summary-errors {
            border: 2px dotted;
            background-color: #d76663;
            border-radius: 8px;
        }

            .validation-summary-errors ul {
                color: white;
                padding: 10px;
                list-style-type: none;
            }
    </style>
    <script>
        $(function () {
            $("footer").parent().hide();
        });

        setTimeout(function () {
            window.location = "/Home/Login";
        }, 2000);
                });
    </script>
</head>
<body>

    <!------ Include the above in your HEAD tag ---------->
    <br />
    <br />
    <br />
    @using (Html.BeginForm())
    {
        <section class="login-info">
            <div class="container">
                <div class="row main">
                    <div class="form-header">
                        <h1 class="text-center ">EMLAK YORUMLARI MLOPS SİSTEMİ </h1>
                    </div>
                    <div class="main-content">
                        @Html.ValidationSummary(false)
                        <div class="input-group ">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.username, new { @class = "form-control", placeholder = "Admin Kullanıcı Adını Giriniz." })
                            @*<input id="username" type="text" class="form-control" name="username" placeholder="Kullanıcı Adını Giriniz.">*@
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "Admin Şifrenizi Giriniz.", type = "password" })
                            @*<input id="password" type="password" class="form-control" name="password" placeholder="Şifrenizi Giriniz.">*@
                        </div>


                        <div class="form-group ">

                            <button type="submit" class="btn btn-warning btn-lg btn-block login-button">MLops Sistemine Git</button>

                        </div>
                        <div class="form-group">
                            <p class="alert-warning">Şifrenizi unuttuysanız, bilişim sistemi uzmanınızla iletişime geçiniz </p>
                        </div>




                    </div>
                </div>
            </div>
        </section>
    }

</body>
</html>


